__pycache__
.vscode
.git
venv
.venv
.env
.env.local
.env.*.local
node_modules
npm-debug.log
.DS_Store
dist
.gitignore
.pytest_cache
*.pyc
*.pyo
*.pyd
.Python
coverage
htmlcov
.coverage
*.log
backend/.venv
backend/__pycache__
frontend/node_modules
frontend/dist
frontend/.DS_Store